<div class="table-responsive small">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Header</th>
        <th scope="col">Header</th>
        <th scope="col">Header</th>
        <th scope="col">Header</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1,001</td>
        <td>random</td>
        <td>data</td>
        <td>placeholder</td>
        <td>text</td>
      </tr>
       {% for venda in vendas %}
      <tr>
        <td>{{venda["mes"]}}</td>
        <td>R$ {{venda["total"]}} locale.currency(valor, grouping=True, symbol=True)</td>
      </tr>
       {% endfor %}
    </tbody>
  </table>
</div>